@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.three-body {
  --uib-size: 55px;
  --uib-speed: .6s;
  --uib-color: #5D3FD3;
  position: fixed;
  top: 50%;
  right: 50%;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wobble1 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}
@keyframes wobble2 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
.loader {
  --uib-size: 120px;
  position: absolute;
  top: 50%;
  right: 50%;
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #901C1C;
  border-radius: 50%;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  animation: loader-in 7s alternate;
}

.load {
  animation: loader-out 7s alternate;
  opacity: 0;
}

.mw-100 {
  max-width: 100% !important;
}

.mw-75 {
  max-width: 75% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-33 {
  max-width: 33% !important;
}

.mw-25 {
  max-width: 25% !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #search_by_tags_recette {
    height: 260px;
  }
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-25 {
    max-width: 25% !important;
  }
  .mw-sm-100 {
    max-width: 100% !important;
  }
  .mw-sm-75 {
    max-width: 75% !important;
  }
  .mw-sm-50 {
    max-width: 50% !important;
  }
  .mw-sm-25 {
    max-width: 25% !important;
  }
  .h-sm-100 {
    height: 100% !important;
  }
  .h-sm-75 {
    height: 75% !important;
  }
  .h-sm-50 {
    height: 50% !important;
  }
  .h-sm-25 {
    height: 25% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .mw-md-100 {
    max-width: 100% !important;
  }
  .mw-md-75 {
    max-width: 75% !important;
  }
  .mw-md-50 {
    max-width: 50% !important;
  }
  .mw-md-25 {
    max-width: 25% !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-25 {
    height: 25% !important;
  }
}
@media only screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .mw-lg-100 {
    max-width: 100% !important;
  }
  .mw-lg-75 {
    max-width: 75% !important;
  }
  .mw-lg-50 {
    max-width: 50% !important;
  }
  .mw-lg-25 {
    max-width: 25% !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-25 {
    height: 25% !important;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-25 {
    width: 25% !important;
  }
  .h-xl-100 {
    height: 100% !important;
  }
  .h-xl-75 {
    height: 75% !important;
  }
  .h-xl-50 {
    height: 50% !important;
  }
  .h-xl-25 {
    height: 25% !important;
  }
}
header img {
  height: 150px;
}

.input-search {
  position: relative;
}
.input-search input {
  height: 50px;
  background: #E7E7E7;
}

.input-search i {
  position: absolute;
  right: 13px;
  top: 18px;
  cursor: pointer;
}

.dropdown {
  margin-right: 20px;
  border-radius: 5px;
  position: absolute;
  z-index: 10000;
  overflow: hidden;
}
.dropdown li a {
  text-decoration: none;
}
.dropdown span:active::before {
  float: right;
  right: 10%;
  rotate: 0deg;
}
.dropdown .slide {
  margin: 0px;
  padding: 0;
  height: auto;
  overflow: hidden;
  transition: height 0.4s ease;
}
.dropdown .slide_visible {
  display: flex;
  flex-direction: column;
}
.dropdown .slide_hidden li,
.dropdown .slide_visible li {
  padding: 10px;
  margin: 0 7px;
  display: inline-block;
  border-top: 1px solid white;
}
.dropdown .slide_hidden {
  display: none;
}
.dropdown #touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#recettes .card-header {
  height: 178px;
  background: #C7BEBE;
}
#recettes .card-body {
  font-size: 13px;
  background: #E7E7E7;
}

.show_text {
  display: inline;
}

.hidden_text {
  display: none;
}

.read {
  cursor: pointer;
}

#search_ingrediant:focus {
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search_ustensil::placeholder,
#search_appareils::placeholder,
#search_ingrediant::placeholder {
  color: white;
  opacity: 0.5;
}

.tag_ingredient {
  cursor: pointer;
  width: 50%;
  padding-right: 5px;
  padding: 0;
  margin: 5px 0;
  line-height: 1.2;
  font-size: 13px;
}

.body_tags {
  max-height: 200px;
  overflow-y: auto;
}

.body_tags::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.body_tags::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
.body_tags::-webkit-scrollbar-thumb {
  background: #363434;
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.z-n2 {
  z-index: 1000;
}

/*# sourceMappingURL=style.css.map */
