
$dim_profil: 200px;
$dim_card_cercle: 150px;


body {
    margin: 0px;
    padding: 20px;
    font-size: 16px;
    font-family: $police-texte;
}

h1,
h2,
h3 {
    font-family: $police-titre;
    color: $secondary-color;
}


.play-video {
    position: absolute;
    width: 70px;
    background: #88ddec15;
    border-radius: 10px;
    margin: 5px;

}

/* style conteneur des images*/
.card_img1 {
    @include card_img(15px, 15px, 15px, 15px, hidden);

}

.card_img {
    @include card_img(18px, 18px, 18px, 18px, hidden);
    width: 25%;
    height: auto;
}

.ombre_box {
    box-shadow: 2px 2px 5px 0px rgba(17, 17, 17, 0.124);
}

.dim_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dim_img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.collection_photographe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 55px;

    .card_detail {
        width: 31%;
        height: auto;
        margin-bottom: 20px;

        &__card_img {
            @include card_img(10px, 10px, 10px, 10px, hidden, 100%, 300px);
        }

        &__card_video {
            @include card_video(10px, 10px, 10px, 10px, hidden, 100%, 300px);
        }

        &__title {
            // padding-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $primary-color;
            font-weight: 500;

            h2 {
                font-size: 17px;
                color: $primary-color;
            }

            span {
                width: 120px;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}



.composants {
    margin: 50px;
    text-align: start;
}


.recap-detail {
    position: fixed;
    bottom: 0;
    right: 75px;
    padding: 20px 25px;
    background: $fond-tertiary;
    font-size: 1.2em;
    border-radius: 5px;

    color: black;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    .recap-likes {
        margin-right: 30px;
    }
}

button {
    padding: 20px 25px;
    background: $primary-color;
    font-size: 1.2em;
    border-radius: 5px;

    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.prix-favories {
    color: $primary-color;
    font-weight: 500;
    font-size: 19px;
    text-align: right;
}

.card_img_profil {
    display: inline-block;
    @include card_img($dim_card_cercle, $dim_card_cercle, $dim_card_cercle, $dim_card_cercle, hidden, $dim_profil, $dim_profil);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;

    img {
        width: 15%;
    }

    .filtre_tag_name {
        text-align: center;
        padding: 0 20px;
        width: 60%;
    }

    .nos_photographes {
        width: 25%;
        color: $primary-color;
        font-weight: 400;
        font-size: 36px;
    }
}

.tag_name {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    color: $primary-color;
    font-weight: 500;
    font-style: normal;
    padding: 5px 7px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.484);
}

.tag_name:hover {
    background: $fond-primary;
    color: white;
}

.tag_name_select {
    background: $fond-primary;
    color: white;
}

.header_detail {
    width: 100%;
    padding: 0 40px;
    display: flex;
    // border: 2px solid;
    flex-direction: column;

    a {
        width: 20%;
        margin-bottom: 20px;
    }

    img {
        // border: 1px solid;
        width: 100%;
        // margin-bottom: 20px;
    }
}

.card_detail_photofgraphe {
    height: auto;
    padding: 20px;
    background: $fond-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;

    button {
        display: inline;
    }

    .info_photofgraphe {
        p {
            margin: 10px;
            margin-left: 0;
        }

        &--titre {
            font-size: 43px;
            color: $secondary-color;
            font-weight: 500;
        }

        &--localisation {
            font-size: 20px;
            color: $primary-color;
            font-weight: 500;
        }

        &--description {
            font-size: 15px;
            // color: gray;
            color: #525252;
            // color: $primary-color;
        }
    }
}

.trie {
    display: flex;
    align-items: start;
    z-index: 1000;
    padding: 0 55px;
    margin-bottom: 35px;

    .trie_elt {
        position: relative;
    }

    p {
        margin-top: 30px;
    }
}

.dropdown { 
    width: 150px;
    background: $primary-color;
    margin: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10000; 

    li a {
        text-decoration: none;
        color: white;
    }

    span {
        padding: 20px 15px;
        background: $primary-color;
        color: white;
        font-size: 1.2em;
        // font-variant: small-caps;
        cursor: pointer;
        display: block;
        border-radius: 5px;
    }

    span::before {
        float: right;
        right: 10%;
        content: "v";
        opacity: 1;
        rotate: 180deg;
        transition: rotate 1s opacity 1s;
    }

    span:active::before {
        float: right;
        right: 10%;
        // content: ">";
        // opacity: 1;
        rotate: 0deg;
        // transition: rotate 1s opacity 1s;
    }
    .slide{ 
        margin: 0px; 
        padding: 0;
        height:  auto;
        overflow: hidden;
        transition: height .4s ease;
    }
    .slide_visible {
        display: flex;
        flex-direction: column;
    }
    .slide_hidden li,
    .slide_visible li {
        padding: 10px;
        margin: 0 7px;
        display: inline-block;
        border-top: 1px solid white;
    }

    .slide_hidden { 
        display: none; 
    } 

    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }

    // #touch:checked+.slide {
    //    height: auto;
    // }


}

.photographes {
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid;
    justify-content: flex-start;

    .card_profil_photographe {
        // border: 2px solid;
        padding: 20px 0;
        text-align: center;
        width: 33%;
        // border: 1px solid;

        &__detail {
            margin-top: 15px;

            p {
                margin: 5px;
            }

            &--titre {
                margin: 5px;
                font-size: 36px;
                color: $secondary-color;
                font-weight: 400;
            }

            &--localisation {
                font-size: 13px;
                color: $primary-color;
                font-weight: 400;
            }

            &--description {
                font-size: 12px;
                font-weight: 400;
                // color: $primary-color;
            }

            &--prix {
                font-size: 12px;
                font-weight: 400;
                //color: gray;
            }

            .tag_name {
                border-radius: 11px;
            }

        }
    }
}









#contactez_moi,
#lightbox {
    position: fixed;
    z-index: 99900;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

#contactez_moi .contactez_moi__content,
#lightbox .lightbox__content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: $fond-secondary;
    width: 55%;
    padding: 35px 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.content {
    &__media {
        width: 100%;
        height: 100%;
    }

    // overflow: hidden;
    &__card_img {
        @include card_img(10px, 10px, 10px, 10px, hidden, 100%, 100%);
    }

    &__card_video {
        @include card_video(10px, 10px, 10px, 10px, hidden, 100%, 100%);
    }
}


.hidden {
    display: none;
}


#lightbox .prev {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 15px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 4rem;
    cursor: pointer;
}

.heart-check {
    cursor: pointer;

}

#lightbox .next {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 4rem;
    cursor: pointer;
}


#closeLightbox {
    position: absolute;
    padding: 0px;
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    top: 0;
    right: 0;
}

.contactez_moi_form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    // background-color: $fond-secondary;
    width: 35%;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #DB8876;
    font-size: 19px;

    h3 {
        color: black;
        font-size: 22px;
        font-weight: 400;
    }

    .form-group {
        margin: 5px 0;

        label {
            color: #312E2E;
        }

        textarea,
        input {
            width: 100%;
            border-radius: 5px;
            border: none;
        }

        input {
            height: 35px;
        }
    }

    button {
        padding: 10px 15px;
    }

    p {
        margin: 0;
        color: black;
        font-size: 37px;
        font-weight: 400;
    }

    #close_contactez_moi {
        position: absolute;
        cursor: pointer;
        color: white;
        padding: 0px;
        width: 35px;
        height: 35px;
        margin: 5px;
        font-size: 60px;
        border-radius: 25px;
        top: 0;
        margin-right: 20px;
        right: 0;
    }
}