header {
    img {
        // transform: scale(1.5);
        height: 150px;
    }
}

.input-search {
    position: relative;
    input {
        height: 50px;
        background: #E7E7E7;
    }
}

.input-search i {
    position: absolute;
    right: 13px;
    top: 18px;
    cursor: pointer;
    //color:#ced4da;
}



.dropdown { 
    // width: 25%;
    // background: $primary-color;
    margin-right: 20px;
    border-radius: 5px;
    position: absolute;
    z-index: 10000; 
    overflow: hidden; 

    li a {
        text-decoration: none;
    }

    // span {
    //     padding: 20px 15px;
    //     // background: $primary-color;
    //     color: white;
    //     font-size: 1.2em;
    //     // font-variant: small-caps;
    //     cursor: pointer;
    //     display: block;
    //     border-radius: 5px;
    // }

    // span::before {
    //     float: right;
    //     right: 10%;
    //     // content: " v";
    //     opacity: 1;
    //     rotate: 180deg;
    //     transition: rotate 1s opacity 1s;
    // }

    span:active::before {
        float: right;
        right: 10%; 
        rotate: 0deg; 
    }
    .slide{ 
        margin: 0px; 
        padding: 0;
        height:  auto;
        overflow: hidden;
        transition: height .4s ease;
    }
    .slide_visible {
        display: flex;
        flex-direction: column;
    }
    .slide_hidden li,
    .slide_visible li {
        padding: 10px;
        margin: 0 7px;
        display: inline-block;
        border-top: 1px solid white;
    }

    .slide_hidden { 
        display: none; 
    } 

    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }

    // #touch:checked+.slide {
    //    height: auto;
    // }


}

#recettes{
    .card-header{
        height: 178px; background: #C7BEBE;
    }
    .card-body{
        font-size: 13px;
        background: #E7E7E7;
    }
}

.show_text{
    display: inline;
} 
.hidden_text{
    display: none;
}
.read{
    cursor: pointer;
}

#search_ingrediant:focus{  
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search_ustensil::placeholder,
#search_appareils::placeholder,
#search_ingrediant::placeholder{
    color: white;
    opacity: .5;
}
.tag_ingredient{
    cursor: pointer;
   width: 50%;
   padding-right: 5px;
   padding: 0;
   margin: 5px 0;
   line-height: 1.2;
   font-size: 13px;
}
.tag_recettes{
    // max-width: 33%;
}
.body_tags{
    max-height: 200px;
    overflow-y: auto;
}
.body_tags::-webkit-scrollbar {
    width: 2px; 
  }
  
/* Track */
.body_tags::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  .body_tags::-webkit-scrollbar-thumb {
    background: #363434;
    border-radius: 10px;
  }

  .cursor-pointer{
    cursor: pointer;
  } 


  .z-n2{
    z-index: 1000;
  }