@mixin card_img($top:18px,$right:18px,$bottom:0px, $left:0px,$overflow:hidden,$width:100%,$height:100%){
    width: $width;
    height: $height;
    border-radius: $top $right $bottom $left;
    overflow: $overflow;
    a>img {
        @extend %dim_img_cover;
    }
}
@mixin card_video($top:18px,$right:18px,$bottom:0px, $left:0px,$overflow:hidden,$width:100%,$height:100%){
    width: $width;
    height: $height;
    border-radius: $top $right $bottom $left;
    overflow: $overflow;
    a>video {
        @extend %dim_video_fill;
    }
    video {
        @extend %dim_video_fill;
    }
}

@mixin absolute-el($top,$right,$bottom, $left, $x,$y){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x,$y); 
}
@mixin position-el($align-items:center,$justify-content:center){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}


@mixin animation($duration:1s,$name,$direction) {
    animation-duration: $duration;
    animation-name: $name;
    animation-direction: $direction;
}
 