%dim_img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
%dim_img_contain {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
%dim_video_fill {
    width: 100%;
    height: 100%;
    object-fit: fill;
}