





.mw-100 {
    max-width: 100% !important;
}

.mw-75 {
    max-width: 75% !important;
}

.mw-50 {
    max-width: 50% !important;
}

.mw-33 {
    max-width: 33% !important;
}

.mw-25 {
    max-width: 25% !important;
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #search_by_tags_recette{
        height: 260px;
    }
    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-25 {
        max-width: 25% !important;
    }

    .mw-sm-100 {
        max-width: 100% !important;
    }

    .mw-sm-75 {
        max-width: 75% !important;
    }

    .mw-sm-50 {
        max-width: 50% !important;
    }

    .mw-sm-25 {
        max-width: 25% !important;
    }

    .h-sm-100 {
        height: 100% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-25 {
        height: 25% !important;
    }
}


// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) and (max-width:768px) {

// }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .mw-md-100 {
        max-width: 100% !important;
    }

    .mw-md-75 {
        max-width: 75% !important;
    }

    .mw-md-50 {
        max-width: 50% !important;
    }

    .mw-md-25 {
        max-width: 25% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-25 {
        height: 25% !important;
    }
}

@media only screen and (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .mw-lg-100 {
        max-width: 100% !important;
    }

    .mw-lg-75 {
        max-width: 75% !important;
    }

    .mw-lg-50 {
        max-width: 50% !important;
    }

    .mw-lg-25 {
        max-width: 25% !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-25 {
        height: 25% !important;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .h-xl-100 {
        height: 100% !important;
    }

    .h-xl-75 {
        height: 75% !important;
    }

    .h-xl-50 {
        height: 50% !important;
    }

    .h-xl-25 {
        height: 25% !important;
    }
}

































// /* Extra large devices (large desktops, 1200px and up)*/
// @media (min-width: 1200px) {
//     .w-xl-100 {
//         width: 100% !important;
//     }

//     .w-xl-75 {
//         width: 75% !important;
//     }

//     .w-xl-50 {
//         width: 50% !important;
//     }

//     .w-xl-25 {
//         width: 25% !important;
//     }

//     .h-xl-100 {
//         height: 100% !important;
//     }

//     .h-xl-75 {
//         height: 75% !important;
//     }

//     .h-xl-50 {
//         height: 50% !important;
//     }

//     .h-xl-25 {
//         height: 25% !important;
//     }
// }
// /* Large devices (desktops, 992px and up)*/
// @media (min-width: 992px) {
//     .w-lg-100 {
//         width: 100% !important;
//     }

//     .w-lg-75 {
//         width: 75% !important;
//     }

//     .w-lg-50 {
//         width: 50% !important;
//     }

//     .w-lg-25 {
//         width: 25% !important;
//     }

//     .mw-lg-100 {
//         max-width: 100% !important;
//     }

//     .mw-lg-75 {
//         max-width: 75% !important;
//     }

//     .mw-lg-50 {
//         max-width: 50% !important;
//     }

//     .mw-lg-25 {
//         max-width: 25% !important;
//     }

//     .h-lg-100 {
//         height: 100% !important;
//     }

//     .h-lg-75 {
//         height: 75% !important;
//     }

//     .h-lg-50 {
//         height: 50% !important;
//     }

//     .h-lg-25 {
//         height: 25% !important;
//     }
// }

// /* Medium devices (tablets, 768px and up)*/
// @media (min-width: 768px) {
//     .w-md-100 {
//         width: 100% !important;
//     }

//     .w-md-75 {
//         width: 75% !important;
//     }

//     .w-md-50 {
//         width: 50% !important;
//     }

//     .w-md-25 {
//         width: 25% !important;
//     }

//     .mw-md-100 {
//         max-width: 100% !important;
//     }

//     .mw-md-75 {
//         max-width: 75% !important;
//     }

//     .mw-md-50 {
//         max-width: 50% !important;
//     }

//     .mw-md-25 {
//         max-width: 25% !important;
//     }

//     .h-md-100 {
//         height: 100% !important;
//     }

//     .h-md-75 {
//         height: 75% !important;
//     }

//     .h-md-50 {
//         height: 50% !important;
//     }

//     .h-md-25 {
//         height: 25% !important;
//     }
// }

// /* Small devices (landscape phones, 576px and up)*/
// @media (min-width: 576px) {
    
// }

